*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.debug header{
    background-color: aqua;
    padding: 10px;
}

.debug .container{
    border: 3px dashed black;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

.debug .container-fw{
    border: 3px dashed black;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
}

.debug .section-1{
    background-color: blue;
    padding: 10px;
}

.debug .section-3, .section-5{
 background-color: rgb(172, 172, 172);
}

.debug .col{
    background-color: salmon;
    padding: 5px;
}

.debug .row{
    border: 2px solid black;
    padding: 15px;
}

.debug .row-section1{
    border: 2px solid black;
    padding: 15px;
    min-height: 300px;
}

.debug .square{
    min-height: 500px;
    background-color: green;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-rev{
    flex-direction: row-reverse;
}

.col-20{
    flex-basis: calc(100%/5);
    border: 1px dashed black;
}

.debug .col-20{
    border: 1px dashed black;
}

.col-60{
    flex-basis: 60%;
}

.debug .col-60{
    border: 1px dashed black;
}

.col-70{
    flex-basis: calc( (100%/3) *2 );
}

.debug .col-70{
    background-color: rgb(107, 233, 233);
    border: 1px dashed black;
    min-height: 300px;
}

.col-30{
    flex-basis: calc( (100%/3) );
}

.debug .col-30{
    background-color: rgb(252, 187, 198);
    border: 1px dashed black;
    min-height: 300px;
}